{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="before">
        <div class="row"><br /></div>
        <div class="row">
            <div class="large-6 columns large-offset-4 large-centered text-center">
                <h3>Quiz się skończył. <br />Nie możesz brać powtórnie udziału w tym etapie.</h3>
            </div>
        </div>
    </div>
{% endblock %}

