{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="row"><br /></div>
    <div class="row">
        <div class="large-6 columns large-offset-2 large-centered text-center">
            <h3>Dziękujemy za wypełnienie ankiety.</h3>
            <h3>Niebawem poinformujemy Cię o następnym teście!</h3>
        </div>
    </div>

{% endblock %}