{% extends "::base.html.twig" %}

{% block title %}BoboVitaBundle:TestersForm:index{% endblock %}

{% block body %}
    <h1>Welcome to the TestersForm:index page</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


{% endblock %}